<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
<%= erb :head %>
    <script type="text/javascript" src="/javascripts/sigma.min.js"></script>
    <script type="text/javascript" src="/javascripts/sigma.parseGexf.js"></script>
    <script type="text/javascript" src="/javascripts/sigma.forceatlas2.js"></script>
    <link type="text/css" rel="stylesheet" href="stylesheets/neo_sigma.css"/>
    <script type="text/javascript"> 

    function loadingButton(id) {
      var opts = {
          lines: 15,
          // The number of lines to draw
          length: 10,
          // The length of each line
          width: 2,
          // The line thickness
          radius: 6,
          // The radius of the inner circle
          corners: 1,
          // Corner roundness (0..1)
          rotate: 0,
          // The rotation offset
          color: '#fff',
          // #rgb or #rrggbb
          speed: 1,
          // Rounds per second
          trail: 60,
          // Afterglow percentage
          shadow: false,
          // Whether to render a shadow
          hwaccel: false,
          // Whether to use hardware acceleration
          className: 'spinner',
          // The CSS class to assign to the spinner
          zIndex: 2e9,
          // The z-index (defaults to 2000000000)
          top: 'auto',
          // Top position relative to parent in px
          left: '-10px' // Left position relative to parent in px
      };

    var target = document.getElementById(id);
    console.log("hello");
    //uncomment to put the button in enabled state
    var btn = $("#" + id);
    btn.html('Generating...');
    
    setTimeout(function() {
        //btn.button('reset');
    }, 5000);

    //btn.button('reset');
    btn.addClass('disabled');
    btn.addClass('btn-spinning');

    //clear the default loading text
    btn.html('');

    //create the spinner
    var spinner = new Spinner(opts).spin();

    //add the spinner to button
    target.appendChild(spinner.el);
}

$(function() {
    $("#generate_bt").live('click', function() {
        if (!$(this).hasClass('disabled')) {
            loadingButton($(this).attr('id'));
        }
    });
});

    </script>
</head>
<body>
  
  <%= erb :facebook_setup %>
 
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">FriendsSpace</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <!--
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to FriendsSpace!</h1>
        <br />
        <p>Have you ever thought about how your Facebook friends network look like? Visualise your friend's mutual connections and discover the shape of your social graph. Login with your Facebook account and You will be surprised sailing through the Space of friends finding out how they are connected to each other!
        </p>
        <% if @user %>
       
        
          <div>
            <p><img src="https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal" id="picture" /> <strong>Hello, <%= @user['name'] %> </strong></p>
            <p><span id="fbLogout"><a href="/sign_out"  class="fb_button fb_button_medium"><span class="fb_button_text">Logout</span></a></span></p>


            <% if !@friends %>
            <p align="center">
              <button id="generate_bt" class="btn btn-large btn-primary" onclick="location.href='./graph'">Generate your Graph</button >
            </p>
            <% end %>
          </div>
        <% else %>
        <div>
            <a href='/auth/facebook' class="fb_button fb_button_medium">
              <span class="fb_button_text">Log In</span>
            </a>
        </div>

        <% end %>
          
      </div>

      <% if @user && @friends%>
      <script type="text/javascript" src="/javascripts/neo_sigma.js"></script>
      <!-- Example row of columns -->
      <div class="row">  
            <div id="share-app">
              <p>Share this app:</p>
              <ul>
                <li>
                  <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
                    <span class="plus">Post to Wall</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= url %>">
                    <span class="speech-bubble">Send Message</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                    <span class="apprequests">Send Requests</span>
                  </a>
                </li>
              </ul>
            </div>

      </div>
      <div class="row">
        <div>   
            <section>
              <div style="text-align:center; margin: 10px">
                <div>Click on "Stop Layout" after a moment. Zoom in/out using your mouse scroll.</div>
                <button class="btn btn-info" id="stop-layout">Stop Layout</button>
                <button class="btn btn-info" id="rescale-graph">Rescale Graph</button>
              </div>
              <div class="span12 sigma-parent" id="sigma-example-parent">
                <div class="sigma-expand" id="sigma-example"></div>
              </div>
            </section> 

        </div>
      </div>

      <% end %>

      <hr>

      <footer>
        <p><a href="https://twitter.com/manueljromerop">@manueljromerop</a> 2013</p>
      </footer>

    </div>

    <script src="/javascripts/bootstrap.min.js"> </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38508138-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>