<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
<%= erb :head %>
<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      #share-app {
        float: right;
        width: 500px;
      }

      #share-app ul {
        float: right;
      }

      #share-app p {
        float: left;
        margin-left: 8px;
      }

      #share-app li {
        float: left;
        list-style: none;
        margin-left: 8px;
      }

      /* =buttons
--------------------------------------------- */
.facebook-button:link, .facebook-button:visited {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -ms-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -o-linear-gradient(top, #fdfdfd, #eaebeb));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaebeb));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: linear-gradient(top, #fdfdfd, #eaebeb);
  border: 1px solid #a9a9a9;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  color: #4f4f4f;
  display: -moz-inline-box;
  display: inline-block;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  outline: none;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .33);
}

.facebook-button span {
  background: url("../images/sprites.png") no-repeat;
  padding: 0 7px 0 21px;
}

.facebook-button .speech-bubble {
  background-position: 6px 3px;
}

.facebook-button .plus {
  background-position: 6px -17px;
}

.facebook-button .apprequests {
  background-position: 6px -37px;
}

.button:link, .button:visited {
  background-color: #7a90c0;
  background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
  background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
  background-image: -o-linear-gradient(top, #97afe2, #6073a1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97afe2), to(#6073a1));
  background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
  background-image: linear-gradient(top, #97afe2, #6073a1);
  border: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  color: #1d222c;
  display: inline-block;
  font: bold 14px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  line-height: 32px;
  padding: 0 25px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
}
/* ------------------------------------------ */

    </style>
    <script type="text/javascript" src="/javascripts/sigma.min.js"></script>
    <script type="text/javascript" src="/javascripts/sigma.parseGexf.js"></script>
    <script type="text/javascript" src="/javascripts/sigma.forceatlas2.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/neo_sigma.css"/>
</head>
<body>
  
  <%= erb :facebook_setup %>
 
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">FriendsSpace</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <!--
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to FriendsSpace!</h1>
        <br />
        <p>Have you ever thought about how your Facebook friends network look like? Visualise your friend's mutual connections and discover the shape of your social graph. </p>

        <p>Login with your Facebook account and You will be surprised sailing through the Space of friends finding out how they are connected to each other!
        </p>
        <% if @user %>
       
        
          <div>
            <p><img src="https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal" id="picture" /> <strong>Hello, <%= @user['name'] %> </strong></p>
            <p><span id="fbLogout"><a href="/sign_out"  class="fb_button fb_button_medium"><span class="fb_button_text">Logout</span></a></span></p>


            <% if !@friends %>
            <p align="center">
              <button class="btn btn-large btn-primary" onclick="location.href='./graph'">Generate your Graph</button >
            </p>
            <% end %>
          </div>
      <% else %>
        <div>
            <a href='/auth/facebook' class="fb_button fb_button_medium">
              <span class="fb_button_text">Log In</span>
            </a>
        </div>

      <% end %>
          
      </div>

      <% if @user && @friends%>
      <!-- Example row of columns -->
      <div class="row">  
            <div id="share-app">
              <p>Share this app:</p>
              <ul>
                <li>
                  <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
                    <span class="plus">Post to Wall</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= url %>">
                    <span class="speech-bubble">Send Message</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                    <span class="apprequests">Send Requests</span>
                  </a>
                </li>
              </ul>
            </div>

      </div>
      <div class="row">
        <div>   
            <section>
              <div style="text-align:center; margin: 10px">
                <div>Click on "Stop Layout" after a moment. Zoom in/out using your mouse scroll.</div>
                <button class="btn btn-info" id="stop-layout">Stop Layout</button>
                <button class="btn btn-info" id="rescale-graph">Rescale Graph</button>
              </div>
              <div class="span12 sigma-parent" id="sigma-example-parent">
                <div class="sigma-expand" id="sigma-example"></div>
              </div>
            </section> 

        </div>
      </div>

      <% end %>

      <hr>

      <footer>
        <p><a href="https://twitter.com/manueljromerop">@manueljromerop</a> 2013</p>
      </footer>

    </div>


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"> </script>

    <script type="text/javascript" src="/javascripts/neo_sigma.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38508138-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>